[Unit]
Description=CernVM-FS Repository Gateway
After=syslog.target network.target

[Service]
Type=forking
ExecStart=/usr/libexec/cvmfs-gateway/scripts/run_cvmfs_gateway.sh start
ExecStop=/usr/libexec/cvmfs-gateway/scripts/run_cvmfs_gateway.sh stop
ExecReload=/usr/libexec/cvmfs-gateway/scripts/run_cvmfs_gateway.sh reload
Restart=always
RestartSec=10
User=root

[Install]
WantedBy=multi-user.target
