test/test.log
*.DS_Store
*._.DS_Store
build/
benchmark/
*.pyc
test/cloud_testing/ec2_config.sh
python/dist/*
python/python_cvmfsutils.egg-info/*
python/MANIFEST

# Eclipse-related files
.project
.cproject
.metadata
.settings
RemoteSystemsTempFiles/
