test/test.log
*.swp
test/mylog
*.DS_Store
*._.DS_Store
._*
.fuse_hidden*
build/
build-*/
benchmark/
*.pyc
test/cloud_testing/ec2_config.sh
python/dist/*
python/python_cvmfsutils.egg-info/*
python/MANIFEST

# Visual Studio Code
.browse.VC.*
.vscode

# Eclipse-related files
.project
.cproject
.metadata
.settings
RemoteSystemsTempFiles/

# Externals
externals/build_*/
externals/.decompressionDone
externals_build
externals_install

# golang build products
ducc/ducc
ducc/cvmfs_ducc
snapshotter/out
gateway/gateway
