[Unit]
Description=cvmfs snapshotter
After=network.target
Before=containerd.service

[Service]
Environment=HOME=/root
ExecStart=/usr/bin/cvmfs_snapshotter --log-level=debug
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
