{erl_opts, [debug_info]}.
{deps, [
        {lager, "3.2.1"},
        {macaroons, "1.0.2", {git, "https://github.com/kzemek/macaroons.git", {tag, "1.0.2"}}},
        {cowboy, {git, "https://github.com/ninenines/cowboy.git", {branch, "master"}}},
        {jsx, "2.8.0"}
       ]}.

{relx, [{release, {cvmfs_services, "0.1.0"}
        ,[cvmfs_services,
          mnesia,
          lager,
          cowboy,
          jsx,
          macaroons,
          base64url,
          enacl_p,
          runtime_tools,
          sasl]}

       ,{sys_config, "./config/sys.config.rel"}
       ,{vm_args, "./config/vm.args"}

       ,{overlay, [{mkdir, "etc"}
                  ,{copy, "./config/repo.config", "etc/repo.config"}]}

       ,{dev_mode, true}
       ,{include_erts, false}

       ,{extended_start_script, true}]}.

{ct_opts, [{config, ["./config/repo.config"]}]}.

{profiles, [{prod, [{relx, [{dev_mode, false}
                           ,{include_erts, true}]}]}
           ,{test, [{deps, [{proper, "1.1.1-beta"}]}]}]}.

