{erl_opts, [debug_info]}.
{deps, []}.

{relx, [{release, {cvmfs_services, "0.1.0"}
        ,[cvmfs_auth
         ,cvmfs_lease
         ,cvmfs_om
         ,runtime_tools
         ,sasl]}

       ,{sys_config, "./config/sys.config"}
       ,{vm_args, "./config/vm.args"}

       ,{dev_mode, true}
       ,{include_erts, false}

       ,{extended_start_script, true}]}.

{ct_opts, [{config, ["./config/repo.config"]}]}.

{profiles, [{prod, [{relx, [{dev_mode, false}
                           ,{include_erts, true}]}]}
           ,{test, [{plugins, [rebar3_proper]}
                   ,{deps, [{proper, "1.1.1-beta"}]}]}]}.

