[Unit]
Description=Prometheus Exporter for CVMFS clients
After=network.target

[Service]
ExecStart=-/usr/local/bin/cvmfs-prometheus.sh --http
StandardInput=null
StandardOutput=socket
StandardError=journal

User=cvmfs
Group=cvmfs

WorkingDirectory=/
CapabilityBoundingSet=
AmbientCapabilities=

LimitNOFILE=1024
TasksMax=1024
Nice=5
CPUWeight=30
MemoryMax=32M
IOSchedulingClass=best-effort
IOSchedulingPriority=7
IOWeight=30

SystemCallArchitectures=native
SystemCallFilter=@system-service

LockPersonality=true
MemoryDenyWriteExecute=true
NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=true
ProtectClock=true
ProtectControlGroups=true
ProtectHome=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=strict
RemoveIPC=true
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true

RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
MountAPIVFS=false

[Install]
WantedBy=multi-user.target
