Source: cvmfs-config-none
Maintainer: Jakob Blomer <jblomer@cern.ch>
Section: utils
Priority: extra
Standards-Version: 3.9.3.1
Build-Depends: debhelper (>= 9), make
Homepage: http://cernvm.cern.ch/portal/filesystem

Package: cvmfs-config-none
Architecture: all
Breaks: cvmfs (<< 2.1.20), cvmfs-server (<< 2.1.20)
Provides: cvmfs-config
Description:  CernVM File System Empty Configuration
