CVMFS_REPOSITORY_NAME=sft.cern.ch
CVMFS_CACHE_DIR=/var/lib/cvmfs/shrinkwrap
CVMFS_CONFIG_REPOSITORY=cvmfs-config.cern.ch    # from /etc/cvmfs/default.d/50-cern.conf
CVMFS_DEFAULT_DOMAIN=cern.ch    # from /etc/cvmfs/default.d/50-cern.conf
CVMFS_HTTP_PROXY=http://ca-proxy.cern.ch:3128    # from /etc/cvmfs/default.local
CVMFS_KEYS_DIR=/etc/cvmfs/keys/cern.ch    # from /etc/cvmfs/domain.d/cern.ch.conf
CVMFS_MOUNT_DIR=/cvmfs    # from /etc/cvmfs/default.conf
CVMFS_REPOSITORIES=test.cern.ch,sft.cern.ch    # from /etc/cvmfs/default.local
CVMFS_SERVER_URL='http://cvmfs-stratum-one.cern.ch/cvmfs/sft.cern.ch;http://cernvmfs.gridpp.rl.ac.uk/cvmfs/sft.cern.ch;http://cvmfs-s1bnl.opensciencegrid.org/cvmfs/sft.cern.ch;http://cvmfs-s1fnal.opensciencegrid.org/cvmfs/sft.cern.ch'    # from /etc/cvmfs/domain.d/cern.ch.conf
CVMFS_USER=cvmfs    # from /etc/cvmfs/default.conf
