CVMFS_REPOSITORY_NAME=sft.cern.ch
CVMFS_CACHE_BASE=/var/lib/cvmfs/shrinkwrap
CVMFS_CONFIG_REPOSITORY=cvmfs-config.cern.ch    # from /etc/cvmfs/default.d/50-cern.conf
CVMFS_DEFAULT_DOMAIN=cern.ch    # from /etc/cvmfs/default.d/50-cern.conf
# CVMFS_HTTP_PROXY=DIRECT  # done in the local configuration
CVMFS_KEYS_DIR=/etc/cvmfs/keys/cern.ch    # from /etc/cvmfs/domain.d/cern.ch.conf
CVMFS_MOUNT_DIR=/cvmfs    # from /etc/cvmfs/default.conf
CVMFS_SERVER_URL='http://cvmfs-stratum-zero-hpc.cern.ch/cvmfs/sft.cern.ch'    # from /etc/cvmfs/domain.d/cern.ch.conf
CVMFS_SHARED_CACHE=no
CVMFS_USER=cvmfs    # from /etc/cvmfs/default.conf