Source: cvmfs-config-egi
Maintainer: Jakob Blomer <jblomer@cern.ch>
Section: utils
Priority: extra
Standards-Version: 3.9.3.1
Build-Depends: debhelper (>= 9), make
Homepage: http://cernvm.cern.ch/portal/filesystem

Package: cvmfs-config-egi
Architecture: all 
Depends: cvmfs-config-cern, curl ${misc:Depends}
Breaks: cvmfs (< 2.1.20), cvmfs-server (< 2.1.20)
Replaces: cvmfs-keys
Provides: cvmfs-config
Description: CernVM File System Configuration and Public Keys for EGI
