include:
- project: 'ci-tools/container-image-ci-templates'
  file: 'docker-image.gitlab-ci.yml'
  ref: master
- project: 'ci-tools/container-image-ci-templates'
  file: 'helm.gitlab-ci.yml'
  ref: master

stages:
- build-bin
- build-image
- build-chart

build-bin:
  stage: build-bin
  rules:
  - if: $CI_COMMIT_BRANCH || $CI_COMMIT_TAG
  image: registry.cern.ch/docker.io/library/golang:1.20
  artifacts:
    expire_in: '10 min'
    paths:
    - bin/
  script:
  - make build-cross

build-image:
  rules:
  - if: $CI_COMMIT_TAG
    variables:
      PUSH_IMAGE: "true"
      IMAGE_TAG: $CI_COMMIT_TAG
  - if: $CI_COMMIT_BRANCH
    variables:
      IMAGE_TAG: $CI_COMMIT_BRANCH
  stage: build-image
  extends: .build_docker
  variables:
    REGISTRY_IMAGE_PATH: "registry.cern.ch/kubernetes/cvmfs-csi:$IMAGE_TAG"
    COSIGN_PRIVATE_KEY: "$HARBOR_SIGNKEY"
    CONTEXT_DIR: "."
    DOCKER_FILE_NAME: "deployments/docker/Dockerfile"
    PLATFORMS: "linux/amd64,linux/arm64"
    BUILD_ARGS: "RELEASE=$IMAGE_TAG GITREF=$CI_COMMIT_SHA CREATED=$CI_PIPELINE_CREATED_AT"

build-chart:
  rules:
  - if: $CI_COMMIT_TAG
    variables:
      PUSH_CHART: "true"
  - if: $CI_COMMIT_BRANCH
  stage: build-chart
  extends: .deploy_helm
  variables:
    REGISTRY_CHART_PATH: registry.cern.ch/kubernetes/charts
    COSIGN_PRIVATE_KEY: "$HARBOR_SIGNKEY"
