CVMFS_CACHE_DIR=replace_me
CVMFS_KEYS_DIR=/etc/cvmfs/keys/cern.ch
CVMFS_MOUNT_DIR=/cvmfs
CVMFS_SERVER_URL='http://cvmfs-stratum-zero-hpc.cern.ch/cvmfs/@fqrn@'
CVMFS_HTTP_PROXY=DIRECT
CVMFS_CLAIM_OWNERSHIP=no

CVMFS_MAX_RETRIES=3
CVMFS_TIMEOUT=60
CVMFS_TIMEOUT_DIRECT=60

CVMFS_CATALOG_WATERMARK=64

CVMFS_CLAIM_OWNERSHIP=yes